// colors
$primary-color: #9196CA;
$secondary-color: #7EC7B8;


$light-color: #d8d9e5;
$grey-color: #cfd7dd;
$dark-color: #32333d;
$danger-color: #d56060;
$warning-color: #d5b060;
$success-color: #379546;

$max-width: 1280px;

$spaceamounts: (1, 2, 3, 4, 5);
// responsive breakpoints
// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;
