@import './variables.scss';
@import './reset.scss';
@import './utilities.scss';
@import './mixins.scss';
@import './animations.scss';
@import './form.scss';


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

